@media (max-width: 575.98px) {
    body {
        padding: 10px;
    }

    .header {
        .logo-container {
            width: unset;
            padding: 15px 0 0;
        }

        .options {
            width: unset;

            .option {
                margin: 0 12px;
            }
        }
    }

    .cart-dropdown {
        width: 80%;
    }

    .homepage {
        padding: 15px 1rem;
        flex-direction: column;
    }

    .directory-menu {
        flex-direction: column;
    }

    .auth-container {
        flex-direction: column;
        align-items: center;

        .sign-up {
            width: 90%;
        }

        .sign-in {
            width: 90%;
            margin-bottom: 5rem;
        }
    }

    .button-wrapper {
        flex-direction: column;
        align-items: center;

        button:first-child {
            margin-bottom: 1rem;
        }
    }

    .collection-preview .preview {
        flex-wrap: wrap;
        justify-content: center;
    }

    .collection-item {
        width: 80% !important;
        margin-bottom: 2rem !important;
    }

    .collection-page .items {
        justify-content: center;
    }

    .checkout-page {
        width: 90%;

        .checkout-header {
            text-align: center;
        }
    }

    .checkout-item {
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        padding: 10px;
    }

    .header {
        .logo-container {
            width: unset;
            padding: 20px 5px 0;
        }

        .options {
            width: unset;
        }
    }

    .cart-dropdown {
        width: 70%;
    }

    .homepage {
        padding: 15px 3rem;
        flex-direction: column;
    }

    .directory-menu {
        flex-direction: column;
    }

    .auth-container {
        flex-direction: column;
        align-items: center;

        .sign-up {
            width: 80%;
        }

        .sign-in {
            width: 80%;
            margin-bottom: 5rem;
        }
    }

    .collection-preview .preview {
        flex-wrap: wrap;
    }

    .collection-item {
        width: 49% !important;
        margin-bottom: 2.5rem !important;
    }

    .checkout-page {
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .homepage {
        padding: 15px 0;
    }

    .auth-container {
        flex-direction: column;
        align-items: center;

        .sign-up {
            width: 80%;
        }

        .sign-in {
            width: 80%;
            margin-bottom: 5rem;
        }
    }

    .collection-preview .preview {
        flex-wrap: wrap;
    }

    .collection-item {
        width: 48% !important;
        margin-bottom: 2.5rem !important;
    }

    .checkout-page {
        width: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .homepage {
        padding: 15px 0;
    }

    .sign-up {
        width: 42%;
    }

    .sign-in {
        width: 42%''
    }

    .collection-item {
        height: 18rem;
    }

    .checkout-page {
        width: 70%;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {}

@media (min-width: 1440px) and (max-width: 1700px) {
    body {
        padding: 20px 60px;
    }
}

@media (min-width: 1700.02px) {
    body {
        padding: 20px 60px;
    }

    .menu-item {
        height: 22rem;

        &.large {
            height: 30rem;
        }
    }

    .collection-item {
        height: 35rem;
    }
}